body {
	width: 100%;
	background-color: #fff;
	padding-bottom: 0;
	overflow-x: hidden!important;
}

footer  {
	background-color: #fff;
	padding-top: 0.5%;
}

.osfl-title {
	text-transform: uppercase;
	font-size: 3.4em !important;
}

.osfl-sub {
	font-size: 25px !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.navbar-header {
	height: 80px;
}

.navbar-inverse {
	border-bottom-width: 10px;
	border-color: #5a8fa1;
}

.navbar-brand {
	margin-left: 20%;
	margin-top: 1%;
}

#marca {
	margin-top: 1%;
	margin-right: 3.5%;
}

.intro-heading {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 44px;
	z-index: 20;
	color: #fff;
}

#main p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 26px;
	z-index: 20;
	color: #fff;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#main {
    background-image: url(../img/main.jpg) !important;
    height: 596px;
    width: 100%;
    z-index: -1;
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #fff;
}

#main-osfl {
    background-image: url(../img/osfl.jpg) !important;
    height: 596px;
    width: 100%;
    z-index: -1;
  	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #fff;
}

h2 {
    color: #5a8fa1;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5%;
    margin-top: 0px;
}


.form-title {
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5%;
    margin-top: 0px;
    text-align: center;
}

.item {
	text-align: center;
	color: #5a8fa1;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.col-md-4 {
	text-align: center;
}

svg {
	margin: 14px;
}

svg {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

#items {
	padding-bottom: 4%;
}

.intro-heading {
	text-transform: inherit !important;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
}

p {
    line-height: 1.25;
}

.title {
	background-color: rgba(82, 129, 145, 0.8);
	height: 32em;
    padding-left: 6%;
    margin-top: 4%;
}

#titulomkt {
	padding-left: 5%;
	padding-top: 4%;
	margin-bottom: 6px !important;
	padding-bottom: 0 !important;
}

.titulomkt {
	padding-bottom: 5%;
}

.mkt-span {
	font-size: 16px;
}

.mkt-margin {
	padding-left: 6%;
}

.gris2 {
	color: #676767 !important;
}

#titulo {
	padding-left: 5%;
	padding-top: 4%;
}

.subtitulo {
	padding-left: 5%;
	padding-bottom: 3%;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.subtitulo2 {
	padding-bottom: 3%;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.title h1 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
}

h4 {
	color: #fff;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	font-weight: 800;
}

.send {
    color: rgba(248, 158, 46, 1);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #e6e6e6;
    width: 100%;
}

.footer {
	width: 25%;
}

.list {
	color: #5a8fa1;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	background-color: #c8d2d4;
    height: 24.9em;
    padding-left: 6%;
    z-index: 100;
}

.pic {
      height: 32em;
      width: 100%;
    }

.foto {
      padding: 0;
    }

ul {
	list-style-type: circle;
	padding-left: 2.8%;
	padding-right: 4%;
}

.title-list {
	padding-bottom: 0px;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.container-full {
  background-color: #a2b6c7;
}

.container {
	width: 100%;
}

.container1 {
	width: 80%;
	margin: 0 auto;
}

#contact-bkg {
	margin-right: -15px;
    margin-left: -15px;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 8%;
}

.contact {
    background-color: #f89e2e;
    margin-top: 4%;
    height: 32em;
    border-right: #528191 solid 3em;
}

.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    margin-bottom: 5px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.empresas {
	text-align: left;
	color: #5a8fa1;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 0px 5% 4% 5%;
}

.gris {
	background-color: #e6e6e6;
}

.titulo-empresa {
	padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.thanks {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 40px;
}


/*media*/

@media only screen and (max-width: 767px) {
  #main {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(../img/main-mobile.jpg);
    height: 463px;
  }

  	.footer {
	    width: 75%;
	}

	#titulo {
    padding-left: 5%;
    padding-top: 12%;
    padding-bottom: 3%;
	}

	body {
	width: 100%;
	background-color: #fff;
	padding-bottom: 0;
	overflow-x: hidden!important;
	}



}


@media (max-width: 1050px) {
	body {
	width: 100%;
	background-color: #fff;
	padding-bottom: 0;
	overflow-x: hidden!important;
	}

    .vertical-align {
        display: flex;
        align-items: center;
    }

    .foto{
    	display: flex;
        align-items: center;
    }

    #marca {
    	padding-left: 10px;
    }

   .contact {
	    border-right: none;
	    margin-top: 5%;
	    height: 36em;
	}

	.orange-background-1 {
		border-right: none;
	}

	.green-background-1 {
		border-right: none;
	}

	form {
		padding-left: 8%;
		padding-right: 8%;
	}

	.form-title {
    padding-bottom: 2%;

	}
	.container {
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
}


/* Orange MKT style */

.orange-border {
	border-color: #F47932;
}

.orange-background {
	background-color: rgba(135, 135, 136, 0.8) !important;
}

.orange-background-1 {
	background-color: #D8560C !important;
	border-right: #9a9a9a solid 3em;
}

.orange-background-3 {
	background-color: #f5e9dc !important;
}

.orange-ajuste {
	padding-top: 2.4em;
    padding-bottom: 1.3em;
}

.orange-ajuste2 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.orange {
	color: #F47932 !important;
}

/* FIN --- Orange MKT style */

/* Green MBA style */

.green-border {
	border-color: #98c141;
}

.green-background {
	background-color: rgba(78, 78, 78, 0.8) !important;
}

.green-background-1 {
	background-color: #98c141 !important;
	border-right: #6c6c6c solid 3em;
}

.green-background-3 {
	background-color: #6c6c6c !important;
}

.green-ajuste {
	padding-bottom: 0.8em;
    padding-top: 0.5em;
}

.green-ajuste-1 {
    padding-bottom: 0.8em;
}

.green-ajuste-2 {
	text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #00264c;
}

.green-ajuste-3 {
	float: left;
	text-align: right;
}

.green-footer  {
	max-width: 50%;
}

.green {
	color: #98c141 !important;
	padding-bottom: 20px;
}

.green-title {
	font-size: 90px !important;
}

/* FIN --- Green MBA style */

/* Red MGSTT style */

.red-border {
	border-color: #76232F;
}

.red-background {
	    background-color: rgba(58,58,58,0.7) !important;
}

.red-background-1 {
	background-color: #76232F !important;
	border-right: #6c6c6c solid 3em;
}

.red-background-3 {
	background-color: #f3e8e9 !important;
}

.red-ajuste {
	padding-top: 2.4em;
    padding-bottom: 1.3em;
}

.red-ajuste2 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.red-list {
	font-size: 16px;
}

.red {
	color: #76232F !important;
}

/* FIN --- Red MGSTT style */

/* RRHH style */

.rrhh-item {
	text-align: center;
}

.rrhh-border {
	border-color: #c60427;
}

.rrhh-background {
	background-color: rgba(76, 76, 76, 0.8) !important;
}

.rrhh-background-1 {
	background-color: #c60427 !important;
	border-right: #6a6a6a solid 3em;
}

.rrhh-background-3 {
	background-color: #f1dfe0 !important;
}

.rrhh-ajuste {
	padding-top: 2.4em;
    padding-bottom: 1.3em;
}

.rrhh-ajuste2 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.rrhh {
	color: #c60427 !important;
}

.rrhh-ajuste {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding-top: 0px;
	padding-bottom: 10px;
}

/* FIN --- RRHH style */

/* Blue OSFL style */

.osfl-border {
	border-color: #0090C8;
}

.osfl-background {
	background-color: rgba(135, 135, 136, 0.8) !important;
}

.osfl-background-1 {
	background-color: #0090C8 !important;
	border-right: #9a9a9a solid 3em;
}

.osfl-background-3 {
	background-color: #dce7f5 !important;
}

.osfl-ajuste {
	padding-top: 2.4em;
    padding-bottom: 1.3em;
}

.osfl-ajuste2 {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.osfl {
	color: #006086 !important;
}

.especial-osfl {
	padding-top: 6px;
}

.especial-osfl-1 {
text-align: center;
}

.padding {
	padding-top: 10px;
}

.osfl-corto {
	padding-top: 20px;
}
/* FIN --- Blue OSFL style */


/*Mobile*/
@media (min-width : 300px) and (max-width : 500px) {

	.blue-list {
		height: auto;
		padding: 0px !important;
	}

	.blue-list-container {
		padding: 20px;
	}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.green-title {
	font-size: 60px !important;
}

.green-background-3 {
	height: 28em;
}

.green-background-1 {
    border-right: none !important;
}

.rrhh-background-3 {
    height: 33em;
}

	body {
		width: 100%;
		background-color: #fff;
		padding-bottom: 0;
		overflow-x: hidden!important;
	}

	.contact {
    border-right: none;
    margin-top: 5%;
    height: 24em;
	}

	.titulo-empresa {
		font-size: 1.5em;
	}

	.pic {
      width: 100%;
      height: auto;
    }

	.navbar-brand {
    margin-left: 2%;
    margin-top: 1%;
	}

	.title {
    margin-top: 7%;
    height: 28em;
    width: 100%;
	}

	.list {
	    padding-bottom: 16em;
	    padding-left: 2em;
	    padding-right: 2em;
	}

	.title-list {
	    padding-top: 10em;
	    font-size: 1.7em;
	}
    ul {
    line-height: 18px;
    font-size: 0.8em;
	}

    li {
   		margin-bottom: 10px;
    }

    .footer {
    width: 80%;
	}

	.green-footer  {
		max-width: 100% !important;
		padding: 10px;
	}

	form {
		padding-left: 2%;
		padding-right: 2%;
	}

	.green-background-1 {
		border-right: none !important;
	}

	.orange-background-1 {
		border-right: none;
	}

	.red-list {
    font-size: 14px;
    padding-top: 30px;
    height: 30em;
	}

	.red-background-3 {
		    padding-bottom: 28em;
	}

	.red-title {
    font-size: 30px;
	}

	.title-list-red {
    padding-top: 6em;
    font-size: 2.5em;
	}

	.text-red {
    font-size: 14px !important;
	}

	.rrhh-background-3 {
	height: 33em;
	}




}

@media only screen and (min-device-width: 1600px) and (max-width : 2600px) {

	body {
	width: 100%;
	background-color: #fff;
	padding-bottom: 0;
	overflow-x: hidden!important;
	}



  	.footer {
	    width: 10%;
	}

	.green-footer  {
	width: 100%;
	}

	.foto {
    background-color: #c8d2d4;
	}

	.pic {
    height: 32em;
	}

	.contact {
    border-right: #528191 solid 6em;
	}

	.green-border {
	border-right: #98c141 solid 6em;
	}
}

@media only screen and (max-width : 1600px) {

	body {
	width: 100%;
	background-color: #fff;
	padding-bottom: 0;
	overflow-x: hidden!important;
	}

}


@media (min-width : 500px) and (max-width : 780px) {

	.footer {
    width: 40%;
	}

	.red-background-1 {
    border-right: none;
	}

	.orange-background-1 {
	border-right: none;
	}

	.red-background-1 {
	border-right: none;
	}

	.rrhh-background-1 {
	border-right: none;
	}

	.green-background-1 {
	border-right: none;
	}


	.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
	}

	.red-background-3, .rrhh-background-3 {
    height: 28em;
	}

	.pic {
    height: auto;
    width: 100%;
	}

	.green {
    padding-bottom: 0px;
	}

	.green-background-3 {
    height: 20em;
	}

}
